@import './base.css'; 
/* 解析@import语法 需要css-loader */
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg') format('svg');
}
span {
  font-size: 28px;
  font-family: 'iconfont';
  color: palevioletred;
}
button {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: pink;
  color: #fff;
  font-size: 20px;
}
img {
  width: 100px;
  height: 100px;
}
.div {
  background-image: url('../img/avatar.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}